<!DOCTYPE html>
<form action="result" method="GET">
<p>Устройство:</p>
<select name="types">
    {{range .Types}}
        <option>{{.}}</option>
    {{end}}
</select>
<p>Номер агента</p>
<select name="agentsIDs">
    {{range .AgentsIDs}}
        <option>{{.}}</option>
    {{end}}
</select>
<p>Уровень логирования</p>
<select name="levels">
    {{range .Levels}}
        <option>{{.}}</option>
    {{end}}
</select>
<p>Дата</p>
От
<input type="datetime-local" name="dateFirst">
До
<input type="datetime-local" name="dateSecond">
<input type="submit">
</form>